<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= booking.event_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>Tickets count:</strong>
    <%= booking.tickets_count %>
  </p>

</div>
